/* map - map, myboard, board, write */
#map{
    width:100%;
    height:100vh;
}

@media (max-width: 600px){
    #content{
    font-size: 15px;
    height: 300px !important;
    padding: 10px !important;
    }
    .h5{
        font-size: 17px;
        line-height: 160%;
    }
    .container{
        padding: 0 28px;
    }
    .btn-lg{
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
    .post-title{
        max-width: 100%;
        margin: 0 5px 0 0;
    }
    .pagename{
        font-size: 23px;
    }
    span.input-group-text{
        font-size: 14px;
        padding: 4px 8px;
    }
}

.container{
    position: relative;
    margin:0 0 10px 0;
}
#content{
    height:400px; 
}
.btn-board{
    margin: 0 auto;
    max-width: 200px;
}

.form-control:focus { 
    color: #495057;
    background-color: #fff;
    border-color: #61a761;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(21, 92, 0, 0.25);
}
h3.pagename{
    padding: 10px 0;
    font-weight: 600;
    margin: 0;
}

.header{
    display:flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    position: relative;
}

/* 박스 클릭 했을 때 */
.form-control:focus { 
    color: #495057;
    background-color: #fff;
    border-color: #61a761 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(21, 92, 0, 0.25) !important;
}
.input-group-text{
    font-weight: 600 !important;
}


/* board */
.write-header{
    margin: 20px 0 0 0;
    display:flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
}
.post-title{
    font-weight: 600;
    margin: 0 10px 0 0;
    width: 67%;
}
.author{
    width: 30%;
}
.info{
    bottom:0px;
    right: 0px;
}
#auth{
    font-size: 20px;
    text-align: right;
    margin:0;
}
#date{
    font-size: 15px;
    color:rgb(151, 151, 151);
    margin:0;
}

img{
    width:100%;
}
.btn{
    display: block !important;
}

/* myboard */
ul li{
    list-style-type: none;
    float: left;
    margin-right:20px;
}

/* map */
.select-view{
    display: flex;
    justify-content: space-around;
}

/* write */
.img-button{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.file-name{
    display: flex;
}
