@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .title{
      font-size: 20px;
    }
    .view{
      padding:10px 5px 0px;
      font-size: 12px;
    }
    .navbar{
      padding:8px;
    }
    .nav-link{
      font-size: 12px;
      padding: 4px 0px;
    }
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar{
  background: rgba(255, 255, 255, 0.1)158, 0.1 !important;
}
#navbarNav{
  justify-content: flex-end;
}
p{
  padding:10px 10px 0 10px;
  margin:0;
  cursor:pointer;
  font-weight: 600 ;
}
p:hover{
  color:#28A745;
}
.select-view{
  margin-left: 10px;
}
a{
  cursor: pointer;
}
.left-title{
  display: flex;
}
.view-box{
  margin-left: 10px;
  display: flex;
}