/* 전체공유 */
*{
    box-sizing:border-box;
    font-family: 'MapoGoldenPier';
    color: #495057;
}
@font-face { font-family: '62570체'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/62570체.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoGoldenPier'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: '국립박물관문화재단클래식B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body{
    margin: 0 0;
    height:100%;
    background: beige;
}
@media (min-width: 500px) {
    .title{
        font-size:30px;
    }
}
.title{
    color: #28A745 !important;
    font-weight: 800;
    /*font-family: '62570체';*/ 
    font-size: 40px;
}
a.title:hover{
    text-decoration: none;
    color: #28A745;
}
a.title:visited{
    color:#28A745;
}