*{
    box-sizing:border-box;
    font-family: 'NanumSquare';
}
.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }
@font-face { font-family: '62570체'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/62570체.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body{
    margin: 0 0;
    height:100%;
    background: beige;
    font-family: 'NanumSquare';
}
@media (min-width: 500px) {
    .title{
        font-size:30px;
    }
}
.title{
    color: #28A745 !important;
    font-family: '62570체'; 
    font-size: 50px;
}
a.title:hover{
    text-decoration: none;
    color: #28A745;
}
a.title:visited{
    color:#28A745;
}