html(lang="kor")
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
    meta(name="generator" content="Jekyll v4.0.1")
    title 책따세 문학지도

    <!-- Bootstrap core CSS -->
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="../stylesheets/nav.css")

    <!-- jQuery-->
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

div(class="text-right")
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        div(class="left-title")
            a(class="title " onclick='location.href="/"') 책따세 문학지도
            div(class="view-box")
                p(class="view" id="map-view") 지도뷰
                p(class="view" id="card-view") 카드뷰

        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation") =

        div(class="collapse navbar-collapse" id="navbarNav")
            ul(class="navbar-nav")
                if !auth || auth === false
                    li(class="nav-item")   
                        a(class="nav-link" onClick='location.href="/login"') 로그인
                    //- li(class="nav-item")   
                    //-     a(class="nav-link" onClick='location.href="/signin"') 회원가입
                else 
                    li(class="nav-item") 
                        a(class="nav-link") #{user.name}님 환영합니다
                    li(class="nav-item")
                        a(class="nav-link" onClick='location.href="/board/write"') 글쓰기
                    li(class="nav-item")
                        a(class="nav-link" onClick='location.href="/board/list"') 내가 쓴 글 보기
                    li(class="nav-item")
                        a(class="nav-link" onClick='location.href="/logout"') 로그아웃
                    
