extends layouts/basic

block content
    form(class="form-signin" action="/login", method="post")
        h1(class="h3 mb-3 font-weight-normal title") 숭문 문학지도
        h3(class="h5") 로그인하기
        input(type="text", id="inputID" class="form-control" name="id", placholder="아이디")
        label(for="inputPassword" class="sr-only")
        input(type="password" id="inputPassword" class="form-control" name="password", placholder="패스워드")

        input(class="btn btn-lg btn-success btn-block" type="submit" value="로그인")