extends layouts/basic

block content
    form(class="form-signin")
        a(class="btn btn-lg btn-success btn-block" href="/") 문학지도
        a(class="btn btn-lg btn-success btn-block" href="/") 봉사지도
        a(class="btn btn-lg btn-success btn-block" href="/") 문학지도
        a(class="btn btn-lg btn-success btn-block" href="/") 봉사지도

