extends layouts/map

block content
    div(id="map" style="")
    div(id="board" style="display:none")
        ul(id="boardList")
            h3(class="pagename" ) 전체 글 보기

    script(type="text/javascript"  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac565ac691559f4a03471d5f88e788e8")
    script.
        var mapview = document.getElementById('map-view');
        var cardview = document.getElementById('card-view');

        mapview.onclick = function(){
            board.style.display = 'none';
            map.style.display = '';
        }
        cardview.onclick = function(){
            map.style.display = 'none';
            board.style.display = '';        
        }

        var checkFlag = false;
        var mapContainer = document.getElementById('map');
        var positions = [];
        var mapOption = {
            center: new kakao.maps.LatLng(37.551311, 126.945565),
            level:1
        };
        $(document).ready(function(){$.ajax({        
            async:false,
            type:"GET",
        url:"/api/totalBoard",
        success:function(res) {

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니
            res.map((a)=>{
                positions.push({
                    content: `<a href=/board/${a._id}>${a.title}</div>`,
                    latlng: new kakao.maps.LatLng(a.latitude, a.longitude)
                });
            })
            checkFlag = true;
        }});
        });
        
        if(checkFlag === true){
            for (var i = 0; i < positions.length; i ++) {
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng // 마커의 위치
                });

                var infowindow = new kakao.maps.InfoWindow({
                    content: positions[i].content // 인포윈도우에 표시할 내용
                });
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                kakao.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
            }
        }

        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        };
       
