extends layouts/map

block content
    div(id="map" style="")
    div(class="container" id="board" style="display:none")
        h3(class="pagename" ) 전체 글 보기
        ul(id="boardList")
                
    script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=69e437bebea2ce58d7b030961cf6f541&libraries=clusterer")
    script(src="../assets/make_map.js")
    script.             
        var mapview = document.getElementById('map-view');
        var cardview = document.getElementById('card-view');

        mapview.onclick = function(){
            board.style.display = 'none';
            map.style.display = '';
        }
        cardview.onclick = function(){
            map.style.display = 'none';
            board.style.display = '';        
        }
