extends layouts/map

block content
    ul(id="boardList")
        h3(class="pagename") 내가 쓴 글


    script.
        let boardOne = [];
        let checkFlag = false;
        const boardList = document.getElementById('boardList');
        $(document).ready(function(){$.ajax({
            async:false,
            type:"POST",
        url:"/api/board",
        success:function(res) {
            res.map((a)=>{
                var node = document.createElement("li");
                node.innerHTML = `
                    <div class="card mb-4 shadow-sm" onclick="location.href='read/${a._id}'" style="cursor:pointer;">
                        <img class="bd-placeholder-img card-img-top" src="/uploads/${a.image}"></img>
                            <div class="card-body">
                                <p class="post-title">${a.title}</p>
                                <p class="card-text"> ${a.body}</p>
                            </div>
                    </div>
                                    `;
                boardList.appendChild(node);
            })
        }});
        });
