extends layouts/basic

block content
    form(action="/signin", method="post", class="form-signin")
        a(class="h3 mb-3 title" href="/") 문학지도
        h5(class="pagename") 회원가입하기
            br
            br
            input(type="text" id="inputID" class="form-control" name="id" placeholder="아이디" required="" autofocus="")
            input(type="password" id="inputPassword" class="form-control" name="password" placeholder="비밀번호" required="")
            input(type="text" id="inputName" class="form-control" name="name" placeholder="이름" required="")
            input(type="number" id="inputNumber" name="studentNumber" class="form-control" placeholder="학번" required="")
            br
            input(class="btn btn-lg btn-success btn-block" type="submit" value="회원가입") 
        a(class="subtitle" href="/login") 이미 회원이신가요?
