extends layouts/basic

block content
    form(action="/signin", method="post", class="form-signin")
        h1(class="h3 mb-3 font-weight-normal title") 숭문문학지도
        h3(class="h5") 회원가입하기
            input(type="text" id="inputID" class="form-control" name="id" placeholder="아이디" required="" autofocus="")
            input(type="password" id="inputPassword" class="form-control" name="password" placeholder="비밀번호" required="")
            input(type="text" id="inputName" class="form-control" name="name" placeholder="이름" required="")
            input(type="number" id="inputNumber" name="studentNumber" class="form-control" placeholder="학번")
            input(class="btn btn-lg btn-success btn-block" type="submit")