extends layouts/map

block content
    form(action="/board/write" method="post" autofocus enctype="multipart/form-data")
        div(class="container mt-5")
            div(class="input-group mb-3")
                div(class="input-group-prepend")
                    span(class="input-group-text" id="inputGroup-sizing-default") 제목 
                    input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default") 
                div(class="input-group-prepend")
                    span(class="input-group-text" id="inputGroup-sizing-default") 저자 
                    input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default") 

            div(class="input-group mb-3")
                form(class="mt-3" method="POST" enctype="multipart/form-data")
                    div(class="form-group mb-5")
                        label(for="content" class="mb-5 h5")
                        textarea(name="q1" class="form-control p-4" id="content") 

        button(class="btn btn-lg btn-success btn-block btn-board" type="submit") 작성하기
    script(src="/assets/write.js")
    script.
        function setThumbnail(event) {
            var reader = new FileReader(); 
            reader.onload = function(event) { 
                var img = document.createElement("img"); 
                img.setAttribute("src", event.target.result); 
                document.getElementById("img_wrap").appendChild(img); 
            };
            reader.readAsDataURL(event.target.files[0]); 
        }