extends layouts/map

block content
    form(action="/board/write" method="post" autofocus enctype="multipart/form-data")
        div(class="container")
            h3(class="pagename") 글쓰기
            div(class="header")
                div(class="input-group-prepend post-title")
                    span(class="input-group-text" ) 제목
                    input(type="text" name="title" class="form-control" required="") 
                div(class="input-group-prepend author")
                    span(class="input-group-text" ) 저자
                    input(type="text" name="nickname" class="form-control" id="author" value=`${user.id}` required="")
            div(class="form-group")
                textarea(name="body" class="form-control p-4" id="content") 
            div(class="form-group file-upload preview-image")
                div(class="file-name")
                    input(type="text" class="form-control upload-name" value="사진선택" disabled="disabled")
                    label(for="input-file" class="img-button") 사진 
                    input(type="file" id="input-file" name="picture" class="upload-hidden" style="display:none")
                div(class="upload-display")
            div(class="location" style="display:none")
                input(id="lat" name="latitude")
                input(id="lon" name="longitude")
                input(id="name" name="author" value=`${user.name}`)
                input(id="authorNumber" name="authorNumber" value=`${user.studentNumber}`)
        button(class="btn btn-lg btn-success btn-block btn-board" type="submit") 저장하기
    script(src="/assets/write.js")
    script.
        var lat = document.getElementById('lat');
        var lon = document.getElementById('lon');
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(function(position) {
            
            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도
            
            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
            
            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition, message);
                
            });
        } else {
            console.log("Cant use geolocation");
        }

        function setThumbnail(event) {
            var reader = new FileReader(); 
            reader.onload = function(event) { 
                var img = document.createElement("img"); 
                img.setAttribute("src", event.target.result); 
                document.getElementById("img_wrap").appendChild(img); 
            };
            reader.readAsDataURL(event.target.files[0]); 
        }
        $(document).ready(function(){if('geolocation' in navigator){
            navigator.geolocation.getCurrentPosition((position) => {
                lat.value = position.coords.latitude;
                lon.value = position.coords.longitude;            
            });
        }})

        // 파일첨부

        $(document).ready(function(){
            var fileTarget = $('.file-upload .upload-hidden');

        fileTarget.on('change', function(){  // 값이 변경되면
          if(window.FileReader){  // modern browser
               var filename = $(this)[0].files[0].name;
          } 
          else {  // old IE
               var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
          }

          // 추출한 파일명 삽입
          $(this).siblings('.upload-name').val(filename);
            });
        }); 

        //preview image 
        var imgTarget = $('.preview-image .file-name .upload-hidden');

        imgTarget.on('change', function(){
            var parent = $('.upload-display');
            parent.children('.upload-thumb').remove();

            if(window.FileReader){
                //image 파일만
                if (!$(this)[0].files[0].type.match(/image\//)) return;

                var reader = new FileReader();
                reader.onload = function(e){
                    var src = e.target.result;
                    parent.prepend('<div class="upload-thumb"><img src="'+src+'"></div>');
                }
                reader.readAsDataURL($(this)[0].files[0]);
            }

            else {
                $(this)[0].select();
                $(this)[0].blur();
                var imgSrc = document.selection.createRange().text;
                parent.prepend('<div class="upload-thumb"><img></div>');

                var img = parent.children('.upload-thumb').find('img');
                img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";        
            }
        });

