extends layouts/map

block content
    form(action="/board/write" method="post" autofocus enctype="multipart/form-data")
        p
        input(type="text" name="title" placeholder="제목")
        p 
        textarea(name="body" rows="4" cols="50" placeholder="본문")
        p
        input(type="text" name="author" placeholder="저자")
        p
        input(id="lat" type="hidden" name="latitude" value="33.450701")
        p
        input(id="lon" type="hidden" name="longitude" value="33.450701")
        p
        input(type="file" id="img_file" name="picture" onChange="setThumbnail(event);")
        div(id="img_wrap")
        p
        input(type="submit" value="submit")
    script(src="/assets/write.js")
    script.
        var lat = document.getElementById('lat');
        var lon = document.getElementById('lon');

        function setThumbnail(event) {
            var reader = new FileReader(); 
            reader.onload = function(event) { 
                var img = document.createElement("img"); 
                img.setAttribute("src", event.target.result); 
                document.getElementById("img_wrap").appendChild(img); 
            };
            reader.readAsDataURL(event.target.files[0]); 
        }
        $(document).ready(function(){if('geolocation' in navigator){
            navigator.geolocation.getCurrentPosition((position) => {
                console.log(position);
                lat.value = position.coords.latitude;
                lon.value = position.coords.longitude;            
            });
        }})
