extends layouts/map

block content
    form(action="/board/write" method="post" autofocus enctype="multipart/form-data")
        div(class="container")
            h3(class="pagename") 글쓰기
            div(class="header")
                div(class="input-group-prepend post-title")
                    span(class="input-group-text") 제목 
                    input(type="text" class="form-control") 
                div(class="input-group-prepend")
                    span(class="input-group-text") 저자 
                    input(type="text" class="form-control" ) 
            form(method="POST" enctype="multipart/form-data")
                div(class="form-group")
                    textarea(name="content" class="form-control p-4" id="content") 
            div(class="form-group")
                input(type="file" class="form-control-file")
        button(class="btn btn-lg btn-success btn-block btn-board" type="submit") 작성하기
    script(src="/assets/write.js")
    script.
        var lat = document.getElementById('lat');
        var lon = document.getElementById('lon');

        function setThumbnail(event) {
            var reader = new FileReader(); 
            reader.onload = function(event) { 
                var img = document.createElement("img"); 
                img.setAttribute("src", event.target.result); 
                document.getElementById("img_wrap").appendChild(img); 
            };
            reader.readAsDataURL(event.target.files[0]); 
        }
        $(document).ready(function(){if('geolocation' in navigator){
            navigator.geolocation.getCurrentPosition((position) => {
                console.log(position);
                lat.value = position.coords.latitude;
                lon.value = position.coords.longitude;            
            });
        }})
