<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.BoardMapper">

  <select id="getBoardList" resultType="com.example.demo.board.Board">
    SELECT * FROM board
    ORDER BY board_number
  </select>
  
  <select id="boardDetail" parameterType="int" resultType="com.example.demo.board.Board">
    SELECT * FROM board
    WHERE board_number = #{board_number}
  </select>
  
  <insert id="boardInsert" parameterType="com.example.demo.board.Board" keyProperty="board_number">
    INSERT INTO board(title, content, writer)
    VALUES(#{title}, #{content}, #{writer})
  </insert>
  
  <update id="boardUpdate" parameterType="com.example.demo.board.Board">
    UPDATE board SET
    <if test="title!=null"> title=#{title}</if>
    <if test="title!=null and content!=null">,</if>
    <if test="content!=null"> content=#{content}</if>
    WHERE board_number=#{board_number}
  </update>
  
  <delete id="boardDelete" parameterType="int">
    DELETE FROM board WHERE board_number=#{board_number}
  </delete>
  
</mapper>